<main role="main">

<div class="container">
  <div class="jumbotron text-center">
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/EXYzj6qwCCk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <%= image_tag "logo.jpg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:100px;width:100px;' %>
  </div>
</div>

  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Who we are<span class="text-muted"></span></h2>
        <p class="lead">People passionate about helping others learn languages on their own.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "logo.jpg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:300px;width:300px;' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">What is Enzetsu?  <span class="text-muted"></span></h2>
        <p class="lead">Enzetsu is an accessible, immersive game experience for self-taught learners to engage with language and culture.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "vr_1.jpg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:300px;width:450px;' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Who is Enzetsu for? <span class="text-muted"></span></h2>
        <p class="lead">Anyone looking to solidify their language learning through an interactive and dynamic game experience. </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "vr_2.jpg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:300px;width:450px;' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">How do we make money? <span class="text-muted"></span></h2>
        <p class="lead">
          <ul>
            <li>Selling the product directly to consumers through subscriptions and one-time purchases.</li>
            <li>Selling product licenses to educational instituitions and businesses.</li>
            <li>In-game microtansactions in different experience levels.</li>
          </ul>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "vr_3.png", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:300px;width:450px;' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="text-center">
      <h1>Testimonials</h1>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <p>
          <q cite=""> I’d be more interested in something more conversational or faux immersion based over something focused on vocab, just because vocab is already strong for me (and most people i soeak to anyway).
          Would be happy to playtest for this, depending on what platform this game is going for!</p>
          </q>
        <em>-HOT_CHEETOFINGERS</em>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <p> <q cite="">
          I'm imagining a game with it's own plots, but where vocab is introduced incrementally and then you have to know it later on signs and when talking with characters. Could use stuff like coins to help with words you'd forgotten.</p></q>
        <em>-neuendo</em>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <p>
          <q cite=""> I love my lenovo VR headset. I would certainly be interested in a Japanese language experience.
            Problem solving lends itself quite well to VR. Hiragana, Katakana and Kanji would work with these types of puzzles.</p>
            </q>
        <em>-Danielssan1</em>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

  </div><!-- /.container -->
</main>
