<main role="main">

<div class="container">
  <div class="jumbotron text-center">
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/EXYzj6qwCCk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <%= image_tag "logo.jpg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:100px;width:100px;' %>
  </div>
</div>

  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Who we are?<span class="text-muted"></span></h2>
        <p class="lead">Passionate people who are trying to help society through innovative teaching techniques. </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "logo.jpg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:300px;width:300px;' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">What do we do ? <span class="text-muted"></span></h2>
        <p class="lead">We create accessible immersion experiences for independent, self-teaching learners to learn about language and culture.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "logo.jpg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:300px;width:300px;' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Who is Enzetsu for? <span class="text-muted"></span></h2>
        <p class="lead">Anyone looking for immersive experience to learn a new language in a dynamic and interactive way. </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "logo.jpg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:300px;width:300px;' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">How are we making money? <span class="text-muted"></span></h2>
        <p class="lead">
          <ul>
            <li>Selling product to the direct consumer.</li>
            <li>Selling product to the instituitions.</li>
            <li>Microtansactions of different experience levels.</li>
          </ul>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "logo.jpg", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", style: 'height:300px;width:300px;' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="text-center">
      <h1>Testimonials</h1>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag "logo.jpg", class: "bd-placeholder-img rounded-circle", style: 'height:140px;width:140px;' %>
        <h2>HOT_CHEETOFINGERS</h2>
        <p>I’d be more interested in something more conversational or faux immersion based over something focused on vocab, just because vocab is already strong for me (and most people i soeak to anyway).
          Would be happy to playtest for this, depending on what platform this game is going for!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag "logo.jpg", class: "bd-placeholder-img rounded-circle", style: 'height:140px;width:140px;' %>
        <h2>neuendo</h2>
        <p>I'm imagining a game with it's own plots, but where vocab is introduced incrementally and then you have to know it later on signs and when talking with characters. Could use stuff like coins to help with words you'd forgotten.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag "logo.jpg", class: "bd-placeholder-img rounded-circle", style: 'height:140px;width:140px;' %>
        <h2>Danielssan1</h2>
        <p>I love my lenovo VR headset. I would certainly be interested in a Japanese language experience.
            Problem solving lends itself quite well to VR. Hiragana, Katakana and Kanji would work with these types of puzzles.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


  </div><!-- /.container -->
</main>
