<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <a class="navbar-brand" href="<%= pages_index_path %>">Enzetsu<%= image_tag "enzetsu_logo.png", style: 'height:30px;width:30px;' %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= pages_index_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="<%=pages_show_path %>">Future Enhancement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=new_subscription_path %>">Contact US</a>
        </li>
      </ul>

      <span>&nbsp; &nbsp;</span>
      <a href="https://www.facebook.com/Enzetsuvr-1176397965867736/" target="_blank"> <i class="fa fa-facebook-square" style="font-size:36px;color:#3b5998"></i></a>
      <span>&nbsp; &nbsp;</span>
      <a href="https://www.reddit.com/r/languagelearning/comments/bcro30/vr_language_learning/" target="_blank"><i class="fa fa-reddit-square" style="font-size:36px;color:#FF4500"></i></a>

    </div>
  </nav>
  <div class="" style="margin-top:100px">

  </div>
  <div class="container">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="form-inline mt-2 mt-md-0">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="3KTGD6NVJRENA" />
      <input type="image" style="margin-left: 50%;" height="40px" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img class="text-center" alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <br>
  </div>
</header>
