<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <a class="navbar-brand" href="<%= pages_index_path %>">Enzetsu<%= image_tag "enzetsu_logo.png", style: 'height:30px;width:30px;' %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= pages_index_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="<%=pages_show_path %>">Future Enhancement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=new_subscription_path %>">Contact US</a>
        </li>
      </ul>

      <span>&nbsp; &nbsp;</span>
      <a href="https://www.facebook.com/Enzetsuvr-1176397965867736/" target="_blank"> <i class="fa fa-facebook-square" style="font-size:36px;color:#3b5998"></i></a>
      <span>&nbsp; &nbsp;</span>
      <a href="https://www.reddit.com/r/languagelearning/comments/bcro30/vr_language_learning/" target="_blank"><i class="fa fa-reddit-square" style="font-size:36px;color:#FF4500"></i></a>

    </div>
  </nav>
  <div class="" style="margin-top:60px">

  </div>
</header>
